
/* =======
NAVIGATION
========== */

header {
    box-shadow: 2px 2px 6px rgb(211, 211, 211);
}

/* BRAND NAME */

.x-large-nav-items {
    display: none;
}

.large-nav-bar-container {
    display: none;
}

.mobile-nav-bar-container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (min-width: 700px) {
    .mobile-nav-bar-container {
        width: 90%;
    }
}

.mobile-brand-name {
    display: flex;
    align-items: center;
    color: rgb(255, 68, 0);
    font-weight: bold;
    padding: 0.5rem 0;
    font-family: 'Playfair Display', 'Roboto', sans-serif;
    font-weight: 800;
}

.mobile-brand-name-large-text {
    font-size: 55px;
}

.mobile-brand-name-small-text > span {
    font-size: 1.2rem;
    display: block;
}

.mobile-brand-name-small-text > span:last-child {
    color: rgb(77, 77, 77);
    font-size: 1rem;
}
/* END OF BRAND NAME */


/* OPEN AND CLOSE NAV MENU */
.mobile-open-and-close-nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.mobile-open-nav-btn, 
.mobile-close-nav-btn {
    flex: 1;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.mobile-close-nav-btn {
    display: none;
}
/* END OF OPEN AND CLOSE NAV MENU */


/*  MOBILE SEARCH MENU BUTTON */
.mobile-search-menu-btns {
    margin-left: auto;
    color: rgb(0, 0, 0);
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-search-menu-btns > i {
    font-size: 1.3rem;
}
/* OF MOBILE SEARCH MENU BUTTON */


/* MOBILE SEARCH FORM */
.mobile-search-form-container {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: max-height 0.1s linear;
}

.show-mobile-search-form-container {
    max-height: 300px;
    opacity: 1;
}

.mobile-search-form {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-box {
    padding: 0.95rem 1rem;
    font-size: 1rem;
    flex: 1;
    border: 1px solid rgb(255, 255, 255);
    border-right: none;
    background: rgb(255, 255, 255);
    min-width: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    letter-spacing: 0.06rem;

}

.search-btn {
    padding: 0.78rem 1.8rem;
    font-size: 1.3rem;
    text-align: center;
    background: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    letter-spacing: 0.05rem;
}

@media screen and (max-width: 565px) {
    .mobile-search-form-container {
        width: 100%;
        left: 0;
        transform: initial;
    }
}

@media screen and (max-width: 340px) {
    .search-btn > i {
        display: flex !important;
    }

    .search-box {
        padding: 0.84rem 0.6rem;
        font-size: 0.9rem;
    }

    .search-btn {
        padding: 0.9rem 1.4rem;
        font-size: 1rem;
    }
}
/* END OF MOBILE SEARCH FORM */


/* SMALL SCREEN NAV ITEMS */
.mobile-nav-items {
    position: absolute;
    top: 85px;
    width: 70%;
    max-width: 350px;
    max-height: 0;
    right: 0;
    padding: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    z-index: -1;
    transition: max-height 0.1s linear;
    border-radius: 20px;
    background: rgb(119, 18, 119);
    box-shadow: 2px 2px 6px rgb(65, 9, 65);
}

.show-mobile-nav-items {
    max-height: 500px;
    z-index: 1;
    opacity: 1;
}

.mobile-nav-items > li {
    border-bottom: 1px solid rgb(99, 15, 99);
}

.mobile-nav-items > li:last-child{
    border-bottom: none;
}

.mobile-nav-items > li > a {
    padding: 1rem 2rem;
    color: white;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mobile-nav-items > li > a > i {
    font-size: 1.3rem;
    padding-right: 1.7rem;
}

/* END SMALL OF NAMV ITEMS */

/* ======================
MIN-WIDTH 700PX AND LARGE
========================= */

@media screen and (min-width: 700px) {

   .mobile-nav-bar-container {
        display: none;
   }

   .large-nav-bar-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative
   }


/* BRAND NAME */
   .large-brand-name {
        display: flex;
        align-items: center;
        color: rgb(255, 51, 0);
        font-weight: bold;
        padding: 0.5rem 0;
        font-family: 'Playfair Display', 'Roboto', sans-serif;
        font-weight: 800;
   }

   .large-brand-name-large-text {
        font-size: 55px;
    }

    .large-brand-name-small-text > span {
        font-size: 1.2rem;
        display: block;
    }
    
    .large-brand-name-small-text > span:last-child {
        color: rgb(77, 77, 77);
        font-size: 1rem;
    }


/* SEARCH FORM */
    .large-search-form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 2;
    }

    .large-search-form {
        flex: 0 0 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .large-search-box {
        padding: 0.95rem 1rem;
        font-size: 1rem;
        flex: 1;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 0;
        border-right: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        letter-spacing: 0.05rem;
    }
    
    .large-search-btn {
        padding: 0.88rem 1.8rem;
        font-size: 1.1rem;
        text-align: center;
        /* background: #5535e7; */
        background: none;
        border: 1px solid rgb(202, 202, 202);
        color: rgb(0, 0, 0);
        border-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        letter-spacing: 0.05rem;
    }

/* OPEN AND CLOSE NAV MENU BTNS */
    .large-open-and-close-nav-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }

    .large-open-nav-btn, 
    .large-close-nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        flex: 1;
        font-size: 1.8rem;
    }

    .large-close-nav-btn {
        display: none;
    }

  
/* LARGE SCREEN NAV ITEMS  */
    .large-nav-items {
        position: absolute;
        top: 85px;
        width: 70%;
        max-width: 350px;
        max-height: 0;
        right: 0;
        padding: 1rem 0;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0;
        z-index: -1;
        transition: max-height 0.3s linear, opacity 0.2s linear;
        border-radius: 20px;
        background: rgb(119, 18, 119);
        box-shadow: 2px 2px 6px rgb(65, 9, 65);
    }
    
    .show-large-nav-items {
        max-height: 500px;
        z-index: 1;
        opacity: 1;
    }
    
    .large-nav-items > li {
        border-bottom: 1px solid rgb(99, 15, 99);
    }
    
    .large-nav-items > li:last-child{
        border-bottom: none;
    }
    
    .large-nav-items > li > a {
        display: block;
        padding: 1rem 2rem;
        color: white;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .large-nav-items > li > a > i {
        font-size: 1.3rem;
        padding-right: 1.7rem;
    }
}

@media screen and (min-width: 1000px) {
    .large-search-form {
        flex: 0 0 60%;
    }
}

@media screen and (min-width: 1300px) {

    .large-open-and-close-nav-btns {
        display: none;
    }

    .large-nav-items {
       display: none;
    }

    .x-large-nav-items {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;

    }

    .x-large-nav-items > li > a {
        color: black;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }
}

@media screen and (min-width: 3000px) {
    .large-search-form {
        flex: 0 0 40%;
    }
}


/* BODY COLOR OVERLAY BLACK */
.body-overlay-color {
    position: absolute; 
    top: 80px; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.9); 
    display: none;
}
/* ==============
END OF NAVIGATION
================= */

