::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-snap-stop: always;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input:focus, input:active,
textarea:focus, textarea:active,
a:focus, a:active {
    outline: none;
    background-color: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    color: rgb(190, 190, 190);
    letter-spacing: initial;
}
/*
====
HOME
====*/

/* content container */

.scroll-up-container {
    margin: 0 auto;
    width: 90%;
    position: -webkit-sticky;
    position: sticky;
    top: 90%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;

    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: max-height 0s linear, opacity 0.5s linear;
}

.show-scroll-up-container {
    max-height: 100px;
    opacity: 1;
}

.scroll-up-container > a {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-up-container > a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.content-container {
    width: 90%;
    margin: 0 auto;
}

.content-header > h1 {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.blog-form-container {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.blog-form-container > h3 {
    padding-bottom: 1rem;
    letter-spacing: 0.05rem;
    /* font-size: 20px; */
    color: rgb(65, 65, 65)
}

/* #blog-form > label {
    width: 100%;
    display: block;
    font-size: 0.85rem;
    color: rgb(83, 83, 83);
    letter-spacing: 0.05rem;
} */

#blog-form > input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px !important;
}

#blog-form > textarea {
    padding: 1rem;
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgb(233, 233, 233);
    resize: none;
    height: 230px;
}

#blog-form > button {
    display: block;
    margin-left: auto;
    padding: 0.8rem 1.3rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    background: rgb(0, 206, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    margin-top: 0.7rem;
    cursor: pointer;
}

.blog-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: flex-start;
}

/* end of content container */

/*
===========
END OF HOME
===========*/