::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    --ORANGE1: #ff3300;
    --ORANGE2: rgb(255, 106, 51);
    --ORANGE3: rgb(255, 143, 102);
    --ORANGE4: rgb(255, 181, 153); 

    /* Matching Gradient */
    --COLOR1: #FF6A33;
    --COLOR2: #FF4562;
    --COLOR3: #E8378F;
    --COLOR4: #B846B3;
    --COLOR5: #5535e7;
    --COLOR6: #0061C7;
    --COLOR7: rgb(0, 175, 219);

    /* for forms */
    --color1: rgb(176, 238, 255);
    --color2: rgb(126, 212, 236);
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
button:active, button:focus,
input:focus, input:active,
textarea:focus, textarea:active,
a:focus, a:active span:active {
    outline: none;
    background-color: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    color: rgb(105, 105, 105);
}


/* .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
} */


/* ======
HOME PAGE
=========*/
.new-post-header{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05rem;
}

.blog-form-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #7ed4ec;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
}

.user-img {
    display: flex;
    align-items: center;
}

.form-user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
    color: black;
}

.user-img > .form-user-info > span {
    letter-spacing: 0.05rem;
}

.user-img > .form-user-info > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.blog-form > form  {
    text-align: end;
}

.blog-form > form > input,
.blog-form > form > textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    letter-spacing: 0.06rem;
    font-size: 16px;
    border: 1px solid rgb(126, 212, 236);
    border-radius: 8px;
    background: rgb(188, 240, 255);
    resize: none;
}

.blog-form > form > textarea {
    height: 200px;
    margin-top: 1rem;
}

.blog-form > form > button {
    padding: 0.9rem 1.5rem;
    letter-spacing: 0.05rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: rgb(255, 51, 0);
    margin: 1rem 0 0 0;
    border: none;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    transition: padding 0.2s linear, box-shadow 0.2s linear;
}

@media (hover:hover) {
    .blog-form > form > button:hover {
        padding: 0.9rem 2rem;
        box-shadow:1px 2px 7px 1px rgb(163, 163, 163);
    }    
}

.contents-container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.contents-container > .content-header {
    letter-spacing: 0.05rem;
    flex: 0 0 100%;
}

.blogs-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.blogs-container > .content {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
}

.content > .user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
} 

.content > .user-info > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.content > .user-info > span {
    letter-spacing: 0.05rem;
}

.content > .title {
    letter-spacing: 0.05rem;
}

.content > .paragraph {
    letter-spacing: 0.06rem;
    line-height: 1.5;
    padding-top: 0.8rem;
    color: rgb(53, 53, 53);
}